<div>
    Set: <input id="search-box" 
        [(ngModel)]="set" 
        placeholder="Set Name"
        (input)="persist('set', set)"
        (change)="onChange()">
</div>
<div id="wrapper">
    <div id="card">
        <img src="{{cardImage}}">
        Img: {{cardImage}}
    </div>
    <div id="decks">
        <ul>
            <li *ngFor="let deck of decks">
                {{deck.name}}
            </li>
        </ul>
    </div>
</div>
<nav>
    <a [routerLink]="['/card-image', this.set, this.id+1]">Next</a>
    <a [routerLink]="['/card-image', this.set, this.id-1]">Previous</a>
</nav>